[submodule "whale/external/spdlog"]
	path = whale/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "whale/external/glfw"]
	path = whale/external/glfw
	url = https://github.com/weijingyu/glfw
[submodule "whale/external/imgui"]
	path = whale/external/imgui
	url = https://github.com/weijingyu/imgui
[submodule "whale/external/nativefiledialog-extended"]
	path = whale/external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "whale/external/pugixml"]
	path = whale/external/pugixml
	url = https://github.com/zeux/pugixml
